@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Raleway,
    sans-serif;
}

/* ------nav bar -------- */
html {
  scroll-behavior: smooth;
}
.container {
  width: 83%;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  /* box-shadow: rgba(0 2px 4px rgba(0, 0, 0, 0.5)); */
}
.head-row {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head-logo {
  flex: 1;
}
.head-logo h1 {
  color: #5fcf80;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav ul li {
  padding: 18px 16px;
  position: relative;
}
nav ul li .bi-chevron-down {
  font-size: 13px;
}
nav ul li a {
  text-decoration: none;
  font-size: 17px;
  color: black;
  font-weight: 400;

  transition: all 0.4s;
}

nav ul li a:hover,
nav ul li a.active {
  color: #5fcf80;
}
.drop-down-menu {
  display: none;
}
nav ul li:hover .drop-down-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
}

nav ul li:hover .drop-down-menu ul {
  display: block;
}
nav ul li:hover .drop-down-menu ul li {
  width: 200px;
  padding: 10px 15px 10px;
}
.deep-down .bi-chevron-down {
  float: right;
  padding-top: 3px;
  margin-left: 10px;
}
.drop-down-menu1 {
  display: none;
}

.drop-down-menu ul li:hover .drop-down-menu1 {
  display: block;
  position: absolute;
  top: 0;
  right: 95%;
  background-color: #fff;
}

.head-btn {
  text-decoration: none;
  color: #fff;
  border: 0;
  outline: 0;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #5fcf80;
  transition: 0.5s;
}
.head-btn:hover {
  background-color: #85cc9c;
}

/* -----banner section------ */

#banner-section {
  min-height: 80vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
}
.blur {
  background: rgba(0, 0, 0, 0.5);
}

.banner-head {
  color: #fff;
}

.banner-head h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}
.banner-head p {
  font-size: 24px;
  margin: 10px 0 70px;
  font-weight: 400;
}

.banner-head a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 8px 35px 10px;
  border-radius: 50px;
  border: 2px solid #fff;
  transition: 0.5s;
}
.banner-head a:hover {
  background-color: #5fcf80;
  border: 2px solid #5fcf80;
}

/* Responsive for banner section */

@media (max-width: 600px) {
  .head-logo h1 {
    font-size: 25px;
  }
  .head-btn {
    font-size: 12px;
    padding: 6px 12px;
    margin-left: 0;
  }
  .banner-head h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
  }
  .banner-head p {
    font-size: 16px;
    margin: 10px 0 70px;
    font-weight: 400;
  }
  nav ul {
    display: block;
  }
  nav {
    position: absolute;
    background: #fff;
    width: 85%;
    top: 90%;
  }
  .head-row {
    padding: 10px 0;
  }
  .head-row nav {
    display: none;
  }
  nav ul li:hover .drop-down-menu ul {
    display: none;
  }
  .head-row .bi-list {
    display: block;
    color: black;
    margin: 14px;
    font-size: 22px;
    cursor: pointer;
  }
  .head-row .bi-x {
    display: none;
    position: absolute;
    color: black;
    font-size: 30px;
    top: 80%;
    right: 6%;
    cursor: pointer;
  }
}
@media (min-width: 601px) and (max-width: 1224px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .head-logo h1 {
    font-size: 30px;
  }
  .head-btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-left: 0;
  }
  .banner-head h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
  }
  .banner-head p {
    font-size: 16px;
    margin: 10px 0 70px;
    font-weight: 400;
  }
  nav ul {
    display: block;
  }
  nav {
    display: none;
    position: absolute;
    background: #fff;
    width: 90%;
    top: 80%;
  }
  .head-row {
    padding: 10px 0;
  }

  nav ul li:hover .drop-down-menu ul {
    display: none;
  }
  .head-row .bi-list {
    display: block;
    color: black;
    margin: 14px;
    font-size: 22px;
    cursor: pointer;
  }
  .head-row .bi-x {
    display: none;
    cursor: pointer;
    position: absolute;
    color: black;
    font-size: 30px;
    top: 90%;
    right: 6%;
  }
}
@media (min-width: 1225px) {
  .head-row .bi-list {
    display: none;
  }
  .head-row .bi-x {
    display: none;
  }
}

/* ---details----- */

#details {
  padding-top: 80px;
  padding-bottom: 80px;
}
.row {
  display: flex;

  justify-content: space-between;
}
.details-col {
  width: 50%;
}
.details-col h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #37423b;
  margin-bottom: 10px;
}
.details-col p {
  font-style: italic;
  font-size: 17px;
  color: #373b39;
  font-weight: 400;
  margin-bottom: 20px;
}
.details-col ul {
  margin-bottom: 20px;
}
.details-col ul li {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0 10px 3px 0;
}
.details-col ul li i {
  font-size: 20px;
  color: #5fcf80;
}
.details-col ul li p {
  font-weight: 400;
  font-style: normal;
  color: black;
}

.move a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 12px 50px 12px 30px;
  border-radius: 50px;
  background-color: #5fcf80;
  transition: 0.5s;
}

.move a:hover {
  background-color: #85cc9c;
}

.move .bi-arrow-right {
  font-size: 17px;
  color: #fff;
  transition: 0.5s;
}

.details-col img {
  width: 100%;
}

/* Responsive for details section */

@media (max-width: 600px) {
  .row {
    flex-direction: column-reverse;
  }
  .details-col {
    width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 1224px) {
  .row {
    flex-direction: column-reverse;
  }
  .details-col {
    width: 100%;
  }
}
@media (max-width: 1225px) {
  .details-col {
    width: 100%;
  }
}

/* ****** count section ****** */
#count {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.count-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.count-col {
  width: 25%;
}
.count-item {
  padding: 30px;
  text-align: center;
}
.count-item span {
  font-size: 48px;
  color: #5fcf80;
  font-weight: 700;
}
.count-item p {
  color: #5f5d5d;
  font-size: 17px;
  font-weight: 400;
}

@media (max-width: 600px) {
  .count-row {
    flex-direction: column;
  }
  .count-col {
    width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 1224px) {
  .count-col {
    width: 50%;
  }
}

#why-us {
  padding-top: 60px;
  padding-bottom: 60px;
}
.whyrow {
  max-width: 100%;
}
.why-us-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.why-us-col {
  width: 30%;
  padding: 30px;
  background-color: #5fcf80;
  text-align: center;
}
.why-us-col h1 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
  color: #fff;
  text-align: left;
}
.why-us-col p {
  font-size: 17px;
  color: #fff;
  margin-bottom: 30px;
  text-align: left;
}
.why-us-col a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 40px 10px;
  background-color: #9cd6ae;
  border-radius: 50px;
  transition: 0.5s;
}
.why-us-col a:hover {
  color: #5fcf80;
  background-color: #fff;
}

.why-us-col2 {
  width: 23%;
  padding: 40px;
  border: 1px solid rgb(226, 225, 225);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-us-col2 .icon {
  margin-bottom: 30px;
  padding: 20px 0 0 0;
}
.why-us-col2 i {
  font-size: 35px;
  padding: 10px 15px;
  border-radius: 50%;
  background-color: #f5fff6;
  color: #5fcf80;
  transition: 0.5s;
}
.why-us-col2:hover i {
  color: #fff;
  background-color: #5fcf80;
}
.why-us-col2 h4 {
  font-size: 20px;
  color: #37423b;
}
.whyusdes {
  margin-bottom: 30px;
}

.why-us-col2 p {
  color: #5f5d5d;
}

@media (max-width: 600px) {
  .why-us-row {
    flex-direction: column;

    gap: 20px;
  }
  .why-us-col {
    width: 100%;
  }
  .why-us-col2 {
    width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 1223px) {
  .why-us-row {
    flex-direction: column;

    gap: 20px;
  }

  .why-us-col {
    width: 100%;
  }
  .why-us-col2 {
    width: 100%;
  }
}
/* -----Features section------- */
#features {
  padding: 10px 0;
}
.feature-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feature-col {
  width: 23%;
  border: 1px solid rgb(226, 225, 225);
  padding: 0 12px;
  margin-top: 24px;
  transition: 0.5s;
}
.feature-col:hover {
  border: 1px solid #5fcf80;
}
.feature-item {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 10px;
}

.feature-item i {
  font-size: 32px;

  padding-right: 10px;
  line-height: 0;
}
.feature-item .bi-eye {
  color: #ffbb2c;
}
.feature-item h3 {
  line-height: 0;
}
.feature-item h3 a {
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #373b39;
  transition: 0.5s;
}
.feature-col:hover .feature-item h3 a {
  color: #5fcf80;
}
.bi-infinity {
  color: #5578ff;
}
.bi-mortarboard {
  color: #e80368;
}
.bi-nut {
  color: #e361ff;
}
.bi-shuffle {
  color: #47aeff;
}
.bi-star {
  color: #ffa76e;
}
.bi-x-diamond {
  color: #11dbcf;
}
.bi-camera-video {
  color: #4233ff;
}
.bi-command {
  color: #b2904f;
}
.bi-dribbble {
  color: #b20969;
}
.bi-activity {
  color: #ff5828;
}
.bi-brightness-high {
  color: #29cc61;
}

@media (max-width: 600px) {
  .feature-row {
    flex-direction: column;
  }
  .feature-col {
    width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 1224px) {
  .feature-col {
    width: 30%;
  }
  .feature-item {
    padding: 8px 0;
  }
}

/* -----courses ------- */

#course {
  padding-top: 60px;
  padding-bottom: 60px;
}
.course-details {
  padding: 0 10px 60px 0;
}
.course-details h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  letter-spacing: 1.5px;
  color: #444444;
}
.course-details h2::after {
  content: "";
  width: 120px;
  height: 2px;
  margin: 4px 10px;
  display: inline-block;
  background: #5fcf80;
}
.course-details P {
  color: #37423b;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.course-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.course-col {
  width: 32%;
  border: 1px solid rgb(226, 225, 225);
  border-radius: 5px;
}
.course-col img {
  width: 100%;
}

.course-content {
  padding: 15px;
}
.c1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.c1 .catagory {
  background-color: #5fcf80;
  color: #fff;
  font-size: 14px;
  padding: 6px 14px;
  border-radius: 5px;
}
.c1 .price {
  font-size: 18px;
  font-weight: 700;
  color: #3b3b3b;
}
.course-content h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.course-content h3 a:hover {
  color: #5fcf80;
}
.course-content h3 a {
  text-decoration: none;
  color: #37423b;
  transition: 0.5s;
}
.course-content .description {
  font-size: 16px;
  color: #948f8f;
  margin-bottom: 1rem;
}
.traniers {
  padding-top: 15px;
  border-top: 1px solid rgb(226, 225, 225);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.traniers .profile {
  display: flex;
  align-items: center;
}
.traniers .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.traniers a {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #444444;
  text-decoration: none;
}
.traniers .followers {
  display: flex;
  align-items: center;
  gap: 7px;
}
.followers {
  color: rgb(173, 171, 171);
}
.followers .bi-person {
  font-size: 22px;
}
.followers .bi-heart {
  font-size: 18px;
}
.followers p {
  font-size: 18px;
}

@media (max-width: 600px) {
  .course-row {
    flex-direction: column;
    gap: 20px;
  }
  .course-col {
    width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 1224px) {
  .course-row {
    flex-direction: row;
    gap: 20px;
  }
  .course-col {
    width: 47.4%;
  }
}

/* ---tranires-section ---*/

#tranier-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.tranier-row {
  display: flex;
  justify-content: space-between;
}
.tranier-col {
  width: 32%;
  border: 1px solid rgb(226, 225, 225);
}
.tranier-col img {
  width: 100%;
  margin-bottom: 30px;
}
.member {
  padding: 0 20px 30px 20px;
  text-align: center;
}
.member h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
  font-family: "Raleway", sans-serif;
  color: #37423b;
}
.member .m1 {
  font-style: italic;
  font-size: 13px;
  color: #444444;
}
.member .m2 {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #9c9797;
  margin-bottom: 1rem;
}
.social {
  margin-top: 15px;
}
.social a {
  color: #8f8c8c;
  transition: 0.5s;
}
.social a i {
  font-size: 18px;
  margin: 0 2px;
}
.social a:hover {
  color: #5fcf80;
}

@media (max-width: 600px) {
  .tranier-row {
    flex-direction: column;
    gap: 25px;
  }
  .tranier-col {
    width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 1224px) {
  .tranier-row {
    flex-wrap: wrap;
    gap: 25px;
  }
  .tranier-col {
    width: 48%;
  }
}

/* ----footer section ---- */

#footer-section {
  margin-top: 10px;
  background-color: #f7f7f7;
  padding: 60px 0;
}
.footer-row {
  display: flex;
  justify-content: space-between;
}
.foot-col3 {
  width: 30%;
}
.foot-col {
  width: 32%;
}
.foot-col3 h1 {
  font-size: 26px;
  font-weight: 700;
  color: rgb(36, 35, 35);
  margin-bottom: 20px;
}
.foot-col3 .address {
  font-size: 14px;
  color: rgb(66, 65, 65);
  font-weight: 450;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}
.foot-col3 .contact p strong {
  font-size: 14px;
  font-weight: 700;
  color: rgb(36, 35, 35);
  margin-bottom: 20px;
}
.foot-col3 .contact p strong span {
  font-size: 14px;
  color: rgb(158, 155, 155);
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.foot-col3 .icons {
  margin-top: 35px;
  color: gray;
  display: flex;
}
.foot-col3 .icons i {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid gray;
  transition: 0.5s;
}
.foot-col3 .icons i:hover {
  color: #5fcf80;
  border: 1px solid #5fcf80;
}
.foot-col2 h4 {
  font-weight: 700;
  color: rgb(43, 42, 42);
  margin-bottom: 20px;
}
.foot-col2 ul {
  list-style: none;
}
.foot-col2 ul .l1 {
  padding: 0 0 10px 0;
}
.foot-col2 ul li {
  padding: 8px 0;
}

.foot-col2 ul li a {
  text-decoration: none;
  font-size: 15px;
  color: rgb(117, 116, 116);
  font-weight: 400;
  transition: 0.5s;
}
.foot-col2 ul li a:hover {
  color: #5fcf80;
}

.foot-col h4 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 12px;
  font-family: "Raleway", sans-serif;
  color: #2e2d2d;
}
.foot-col p {
  margin-bottom: 1rem;
  font-size: 15px;
  color: rgb(70, 69, 69);
}
form {
  margin-top: 30px;
  padding: 6px 8px;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid rgb(226, 225, 225);

  display: flex;
}
form .email {
  border: 0;
  outline: 0;
  padding: 4px 8px;
  width: 100%;
}
form:hover {
  border: 1px solid #5fcf80;
}
form .subscribe {
  border: 0;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  margin: -7px -8px -7px 0;
  background: #5fcf80;
  color: #fff;
  border-radius: 50px;
}
.copy {
  margin-top: 30px;
  width: 100%;

  background: rgb(238, 237, 237);
  text-align: center;
  padding: 20px;
}
.copy p {
  margin-bottom: 8px;
}
.copy p span {
  color: rgb(39, 39, 39);
  font-weight: 400;
}
.copy p span a {
  text-decoration: none;
  color: #5fcf80;
}

@media (max-width: 600px) {
  .footer-row {
    flex-direction: column;
    gap: 30px;
  }
  .foot-col {
    width: 100%;
  }
  .foot-col2 {
    width: 100%;
  }
  .foot-col3 {
    width: 100%;
  }
  .icons {
    display: flex;
  }
  .copy {
    padding: 25px 0;
    background-color: rgb(238, 237, 237);
  }
  .copy p {
    margin-bottom: 0;
    font-size: 14px;
  }
}
@media (min-width: 601px) and (max-width: 1224px) {
  .footer-row {
    flex-wrap: wrap;
    gap: 30px;
  }
  .foot-col {
    width: 100%;
  }
  .icons {
    display: flex;
  }
  .copy {
    padding: 25px 0;
    background-color: rgb(238, 237, 237);
  }
  .copy p {
    margin-bottom: 0;
    font-size: 14px;
  }
}

/* -----about ------ */

#about {
  background: #5fcf80;
}
.heading {
  width: 66.66%;
  margin: auto;
  padding: 80px 0;
  text-align: center;
}
.heading-col h1 {
  font-size: 38px;
  font-weight: 700;
  color: #fff;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0.5rem;
}
.heading-col p {
  color: #fff;
  font-size: 17px;
}

.page-title {
  padding: 15px 0;
  background-color: #5cc47bde;
}
.page-title .ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  padding-left: 2rem;
}
.page-title .ul li {
  padding: 10px 3px;
}
.page-title .ul li .page-title1 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.ul li + li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: #fff;
}

/* ---------testimonails----- */

#testimonials {
  padding: 60px 0;
}
.testimonials-row {
  padding: 60px 0;
  display: flex;
}
.testimonials-col {
  padding-left: 50px;
  width: 50%;
}
.testimonials-item {
  margin: 30px 15px;
  padding: 30px 30px 30px 60px;
  border: 1px solid rgb(226, 225, 225);
  position: relative;
}
.testimonials-item img {
  width: 90px;
  position: absolute;
  left: -45px;
}
.testimonials-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #373b39;
  font-family: "Raleway", sans-serif;
}
.testimonials-item h4 {
  font-size: 14px;
  font-weight: 400;
  color: rgb(190, 187, 187);
}
.stars {
  margin: 15px 0;
}
.stars .bi-star-fill {
  color: #ffc107;
  margin: 0 1px;
}
.bi-quote {
  color: #8ab9f1;
}
.para {
  font-size: 16px;
  color: #999999;
  line-height: 1.5rem;
  font-weight: 600;
  font-style: italic;
}
.swipe {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.swiper {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #5fcf80;
  margin: 0 4px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .heading {
    width: 100%;
  }
  .testimonials-row {
    padding: 20px 0;
    flex-direction: column;
  }
  .testimonials-col {
    padding-left: 0;
    width: 100%;
  }
  .testimonials-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials-item img {
    position: static;
  }
}
@media (min-width: 601px) and (max-width: 1224px) {
  .heading {
    width: 100%;
  }
  .testimonials-row {
    padding: 20px 0;
    flex-direction: column;
  }
  .testimonials-col {
    padding-left: 0;
    width: 100%;
  }
  .testimonials-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials-item img {
    position: static;
  }
}

/* tranier secyion ----------- */

#team-section {
  padding: 60px 0;
}
.team-row {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
}

.card-1 {
  text-align: center;
  width: 33.33%;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 200px;
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
.card-1 img {
  width: 100%;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(114, 110, 110, 0.459);
}
.card-1 img:hover {
  background: #212529;
}
.card-1 h3 {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
}
.card-1 .s1 {
  margin-top: 5px;
  font-style: italic;
  color: #bdb7b7;
}
.card-1 .s2 {
  font-size: 14px;

  margin-top: 8px;
  line-height: 22px;
}
.circle {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-1 .icon {
  font-size: 25px;
  opacity: 0;
  transition: 0.4s;
}
.card-1 .icon i {
  padding: 0 4px;
  color: #fff;
  transition: 0.6s;
}
.card-1 .icon i:hover {
  color: #5fcf80;
}
.card-1:hover .icon {
  opacity: 1;
  top: 26%;
  left: 28%;
}
.card-1:hover .circle {
  opacity: 1;
}

@media (max-width: 600px) {
  .card-1 {
    width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 1224px) {
  .card-1 {
    width: 50%;
  }
}

/* events section */

#event-section {
  padding: 60px 0;
}
.events-row {
  display: flex;
}
.events-col {
  padding: 0 12px;
  overflow: hidden;
  width: 50%;
}
.event-card {
  padding: 0 30px;
  margin-bottom: 200px;
  position: relative;
}
.event-card:hover .event-img {
  transform: scale(1.1);
}
.event-card:hover .event-content {
  border-top: 4px solid #5fcf80;
}
.event-card:hover .event-content1 {
  color: #5fcf80;
}
.events-col .event-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  transition: 0.3s;
}
.events-col .event-img img {
  width: 100%;
}
.event-content {
  width: 88%;
  text-align: center;
  padding: 30px;
  border-top: 4px solid #fff;
  background-color: #fff;
  margin-top: -60px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  transition: 0.5s;
}
.event-content .event-content1 {
  font-size: 20px;
  font-weight: 700;
  color: #212523;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  transition: 0.5s;
}
.event-content .event-content2 {
  font-style: italic;
  font-size: 17px;
  margin-bottom: 20px;
}
.event-content .event-content3 {
  color: #8f8c8c;
  text-align: left;
}

@media (max-width: 600px) {
  .events-row {
    flex-direction: column;
    gap: 150px;
    margin-bottom: 70px;
  }
  .events-col {
    width: 100%;
    overflow: visible;
  }
  .event-content {
    width: 80%;
    padding: 10px;
  }
}
@media (min-width: 601px) and (max-width: 1224px) {
  .events-col {
    width: 50%;
  }
  .event-content {
    width: 80%;
    padding: 15px;
  }
}
/* -----pricing ---- */

#pricing {
  padding: 60px 0;
}
.pricing-row {
  display: flex;
  justify-content: space-between;
}

.pricing-col {
  width: 23%;
}

.pricing-item {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.pricing-item h3 {
  margin: -20px -20px 20px;
  padding: 20px 15px;
  font-size: 17px;
  font-weight: 600;
  color: #4b4848;
  background: rgb(243, 243, 243);
}
.pricing-item h4 {
  font-size: 36px;
  font-weight: 600;
  color: #212523;
}
.pricing-item h4 sup {
  font-size: 20px;
}
.pricing-item h4 span {
  color: gray;
  font-size: 16px;
  font-weight: 300;
}
.pricing-item .price-ul {
  padding: 15px 0;
  text-align: center;
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
  color: rgb(66, 66, 66);
}
.pricing-item .price-ul li {
  padding-bottom: 16px;
}
.del {
  text-decoration: line-through;
  color: #8f8c8c;
}
.buynow {
  background: rgb(243, 243, 243);
  margin: 0 -20px -20px -20px;
  padding: 30px 15px;
}
.buynow .buy-btn {
  color: #fff;
  text-decoration: none;
  background: #5fcf80;
  padding: 8px 35px 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.pricing-item .business {
  margin: -20px -20px 20px;
  padding: 20px 15px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  background: #5fcf80;
}
.pricing-item .Advanced {
  width: 200px;
  color: #fff;
  background-color: #5fcf80;
  font-size: 14px;
  padding: 1px 0 3px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 18px;
  right: -68px;
}

@media (max-width: 600px) {
  .pricing-row {
    flex-direction: column;
    gap: 30px;
  }
  .pricing-col {
    width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 1224px) {
  .pricing-row {
    flex-direction: column;
    gap: 30px;
  }
  .pricing-col {
    width: 100%;
  }
}
/* ---------contact section------ */

#contact-section {
  padding: 20px 0 60px 0;
}

iframe {
  width: 100%;
}
.contact-row {
  display: flex;
}
.contact-row1 {
  display: flex;
}
.contact-col {
  width: 33.33%;
}
.contact-col1 {
  padding: 30px 0;
  width: 66.66%;
}
.contact-item {
  padding: 30px 0;
  display: flex;
  gap: 20px;
}

.contact-item .bi-geo-alt,
.bi-telephone,
.bi-envelope {
  font-size: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #5fcf80;
}
.contact-item h3 {
  font-family: "Raleway", sans-serif;
  color: #4b4848;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.contact-item p {
  font-size: 14px;
  color: gray;
}

.contact-col2 {
  width: 50%;
  padding: 0 15px;
}

.contact-col3 {
  width: 100%;
  padding: 30px 15px 0;
}

.form {
  display: block;
  width: 100%;
  padding: 0.37rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid rgb(226, 225, 225);
  border-radius: 5px;
}
.form:focus {
  outline: 1px solid #5fcf80;
}

.contact-col3 button {
  border: 0;
  outline: 0;
  padding: 10px 30px 12px;
  background-color: #5fcf80;
  color: #fff;
  font-size: 17px;
  border-radius: 50px;
  transition: 0.5s;
}
.contact-col3 button:hover {
  background-color: #85cc9c;
}

@media (max-width: 600px) {
  .contact-row {
    flex-direction: column;
    gap: 20px;
  }
  .contact-col {
    width: 100%;
  }
  .contact-col1 {
    width: 100%;
  }
  .contact-col2 {
    width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 1224px) {
  .contact-row {
    flex-direction: column;
    gap: 20px;
  }
  .contact-col {
    width: 100%;
  }
  .contact-col1 {
    width: 100%;
  }
  .contact-col2 {
    width: 100%;
  }
}

/* to-top  */

.to-top {
  background: #5fcf80;
  position: fixed;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.5px solid #5fcf80;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
